@import "../../colors";

.hero {
  background-image: url("../../assets/images/wave5.png");
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 420px) {
  .hero {
    background-image: none;
    .hero-body {
      padding: 0 1.5rem !important;
      background-image: url("../../assets/images/smartphone.png");
      background-position: bottom right;
      background-size: 40%;
      background-repeat: no-repeat;
    }
  }
  .hero.is-fullheight .hero-body {
    display: block;
  }
}

.hero-head {
  height: 100px;
}

.HomePage__columns {
  height: auto;
  max-height: 550px;
}

.hero-title {
  font-size: 3rem;
  line-height: 3.3rem;
  margin: 100px auto 50px auto;
  color: black;
}
@media screen and (max-width: 420px) {
  .hero-title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 30px auto;
  }
}

.hero-p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 30px auto;
  font-weight: 300;
  color: #222222;
}

.hero-img {
  height: 100%;
}
@media screen and (max-width: 420px) {
  .hero-img {
    display: none;
  }
}

button.button.beta-subscribe {
  color: $secondary;
  border: 1px solid $secondary;

  &:focus {
    box-sizing: inherit;
  }
}

.hero-foot {
  position: relative;
  width: 100%;
  min-height: 300px;
  background-color: white;

  p {
    text-align: center;
    line-height: 50px;
  }
}