@import "../../colors";

.modal {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #e7a208;
  border-radius: 25px;
}

.modal-background {
  background-color: transparent;
}

.modal-content {
  width: 100%;
  height: 100%;
  padding: 25px;
  background-color: white;
  border-radius: 25px;

  h2 {
    font-size: 2rem;
  }

  p {
    line-height: 1.5rem;
    margin: 20px auto;
  }
}

.modal-close {
  position: absolute;
  right: 35px;
  top: 30px;
  font-size: 20px;
  cursor: pointer;

  &:before, &:after {
    background-color: black;
  }
}

@media screen and (max-width: 420px) {
  .modal {
    top: 30px;
  }
  .modal-content {
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: white;
    border-radius: 25px;

    h2 {
      font-size: 1.2rem;
    }

    p {
      line-height: 1.2rem;
      margin: 20px auto;
    }
  }
  .modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;

    &:before, &:after {
      background-color: black;
    }
  }
}
