.navbar-brand {
  height: 100px;
}

@media screen and (max-width: 420px) {
  .navbar-burger {
    display: none;
  }
  .navbar-brand {
    width: 100%;
    display: flex;

    .navbar-item {
      width: 100%;

      img {
        max-height: 3rem;
      }
    }
  }
}

.navbar-item img {
  max-height: 3rem;
}
