@import "../../colors";

form div.field {
  min-height: 50px;
  height: auto;
}

.checkbox {
  display: flex;
  cursor: pointer;
  margin: 20px auto;

  .checkbox-label {
    line-height: 24px;
    padding-left: 15px;
    font-size: .9rem;
  }
}



.button-submit {
  background-color: $secondary;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;

  &:hover {
    color: white;
  }
}